.startrecord{
    margin-top: 180px;
    margin-left: -180px;
    border: 2px solid white;
    color: white;
    background-color:  rgb(94, 89, 89);
    border-radius: 5px;
}
.startrecord:hover{
    color:  rgb(94, 89, 89);
    background-color: white;
}
.stoprecord{
    height: 22px;
    width: 110px;
    margin-top: 130px;
    border: 2px solid white;
    
    
    

}